@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/cadastro.css);
@import url(styles/rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --cor--fundo: #d8d8d8;
    --branco: white;
    --laranja: #EB9B00;
    --gradiente: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --azul-alura: #002F52;
    --preto-texto: rgba(0, 0, 0, 0.85);
    --cinza-titulo-rodape: #858585;
    --cinza-link-rodade: #474646;

    --fonte: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}


body{
    background-color: var(--cor--fundo);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 400;
}

