.banner {
    background: var(--gradiente);
    color: var(--branco);
    text-align: center;
    padding: 2rem ;
}

.banner__titulo {
    font-size: 1.3rem;
    font-weight: 700;
}

.banner__paragrafo {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    color: var(--branco); 
    border-radius: 1.5rem;
    border: 1px solid var(--branco);     
    padding: 1rem; 
    width: 100%;
}

.banner__pesquisa::placeholder{
    color: var(--branco);
    font-family: var(--fonte);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    background: url(../assets/Lupa.svg);
    background-repeat: no-repeat;
    background-position: 0.8em;
}

@media screen and (min-width: 1024px) {
    .banner {
        background: var(--gradiente);
        color: var(--branco);
        text-align: center;
        padding: 5rem 10rem ;
    }

    .banner__titulo {
        font-size: 2rem;
        font-weight: 700;
    }
    
    .banner__paragrafo {
        font-size: 1rem;
        font-weight: 500;
        margin: 1rem 0;
    }

    .banner__pesquisa {
        background-color: transparent;
        color: var(--branco); 
        border-radius: 1.5rem;
        border: 1px solid var(--branco);     
        padding: 1rem; 
        width: 43%;
    }

    .banner__pesquisa::placeholder{
        color: var(--branco);
        font-family: var(--fonte);
        font-size: 0.875rem;
        font-weight: 400;
        text-align: start;
        padding-left: 2.3rem;
        background: url(../assets/Lupa.svg);
        background-repeat: no-repeat;
        background-position: 0.8em;
    }
    
}

@media screen and (min-width: 1728px){

    .banner__pesquisa {
        background-color: transparent;
        color: var(--branco); 
        border-radius: 1.5rem;
        border: 1px solid var(--branco);     
        padding: 1rem; 
        width: 35%;
    }

    .banner__pesquisa::placeholder{
        color: var(--branco);
        font-family: var(--fonte);
        font-size: 0.875rem;
        font-weight: 400;
        text-align: start;
        padding-left: 2.3rem;
        background: url(../assets/Lupa.svg);
        background-repeat: no-repeat;
        background-position: 0.8em;
    }

}


