.topicos{
    background: var(--gradiente);
    padding: 1rem .8rem;
}

.topicos__titulo{
    color: var(--branco);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
}

.topicos__lista{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__lista__item{
    background-color: var(--laranja);
    color: var(--branco);
    font-size: .9rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
}

@media screen and (min-width: 1024px) {

    .topicos{
        padding: 2rem 6rem
    }

    .topicos__titulo{
        color: var(--branco);
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 3rem;
    }

    .topicos__lista__item{
        background-color: var(--laranja);
        color: var(--branco);
        font-size: 1.3rem;
        font-weight: 700;
        padding: 1.5rem 2rem;
    }

}

@media screen and (min-width: 1728px){

    .topicos{
        padding: 4rem 4rem;
    }

    .topicos__lista{
        width: 50%;
        margin: auto;
    }

}
